body{
    width: 800px;
    height: 800px;
    background-image: url("taj.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: auto;
    margin: 0 auto;
}
h1{
    font-size: 100px;
    color:brown;
}


h2{
    font-style: monotone;
}