section{
    height: 70%;
    width: 50%;
    background-color: green;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    align-content: center;
}

div{
    width:100px;
    height: 100px;
    background-color: bisque;
    margin: 10px;
}

div:nth-child(3)
{
    align-self: flex-end ;
}