div{
    
    height: 100px;
    width: 100px;
    background-color: thistle;
    margin: 40px ;
    
    
    
}


 div:hover{
     transition: margin-right 2s ;
        
     margin-left: 500px;


    
}